@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box,
body,
html {
    height: 100%;
    display: flex;
    -webkit-flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
    font-family: "微软雅黑";
}
li {
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.forget-pwd{
    -webkit-flex-grow: 1;
    width: 100%;
    overflow:auto;
    &>div{
        width: 100%;
        overflow: hidden;
    }
    header{
    height: 2rem;
//  background: #FFAC2E;
    color: black; 
    display: flex;
    line-height: 2rem;
    a{
        padding-left: 0.6rem;
        i{
            font-size: .8rem;
            color: #5A5A5A;
        }
    }
    p{
        margin-right: 0.6rem;
        flex-grow: 1;
        text-align: center;
        font-size: .8rem;
        color: #5A5A5A;
    }
}
.user-box{
        width: 100%;
        text-align: center;
        margin-top: 2rem;
        .title{
            width: 90%;
            margin: 0 auto;
            text-align: left;
            font-size: .8rem;
            color: #5A5A5A;
        }
        .username{
            width: 90%;
            padding-top: 2rem;
            display: flex;
            border-bottom: 1px solid #EEEEEE;
            padding-bottom: .3rem;
            margin: 0 auto;
            span{
               width: 10%;
                img{
                    width: 60%;
                }
            }
            input{
                width: 80%;
                border: 0;
                margin-left: .2rem;
                font-size: .6rem;
            }
        }
    }
    .login-box{
        width: 100%;
        margin-top: 2rem;
        a{
            display: block;
            margin: 0 auto;
            width: 90%;
            height: 2rem;
            line-height: 2rem;
            text-align: center;
            background: #FFC830;
            color: white;
            font-size: .8rem;
            border-radius: 40px;
        }
    }
}